@import "../../Settings/FontsFamily.scss";

.pokemon-card{
    background-color: #ffffff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 1px 17px 16px rgba(217, 214, 214, 0.25);
    width: 300px;

    &_name{
        text-transform: capitalize;
        font-weight: 700;
        font-family: $sora;
        color: #333333;
        padding: 0;
        margin: 0;
    }
    &_id{
        font-family: $poppins;
        color: #676767;
        padding: 0;
        margin: 0;
    }

    &_datail{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 10px 0;
        gap: 50px;
        width: 100%;
    }

    &_datails-principal{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        align-items: flex-start;
    }

}