.header{
    background: linear-gradient(180deg, #d22121 0%,#c80c0c 50%, #9d0909 100%);
    // background: #c20001;
    box-shadow: 1px 1px 17px 16px rgba(217, 214, 214, 0.25);
    width: 100%;
    padding:30px 0;
    text-align: center;
    position: fixed;
    z-index: 10;
}